<div class="modal fade" id="combatant-detail" role="dialog">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{ combatant.sca_name or 'New Combatant' }}
                </h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active" id="info-tab"><a data-toggle="tab" href="#info">Info</a></li>
                    {% for discipline in disciplines %}
                        <li class="discipline-tab" data-discipline="{{ discipline.slug }}">
                            <a data-toggle="tab" href="#{{ discipline.slug }}">{{ discipline.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <form id="edit-combatant-form" action="/ajax/combatant">
                    <input type="hidden" id="uuid" name="uuid" value="{{ combatant.uuid if combatant else '' }}"/>
                    <div class="form-group tab-content">
                        <div id="info" class="tab-pane fade in active">
                            {% include 'combatant/combatant_info.html' %}
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="edit-combatant-waiver_date" class="col-md-5 col-form-label">
                                        Waiver Date&nbsp;
                                        <span title="This is the date the waiver is signed.&#013;Testing: To get a reminder email tonight, set the date for {{ test_waiver_reminder }}&#013;Testing: To get an expiry email tonight, set the date for {{ test_waiver_expiry }}">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </span>
                                        {%  if combatant  %}
                                        <span title="{{combatant.waiver.reminder_tooltip}}">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span>
                                        {% endif %}
                                    </label>
                                    <div class="col-md-5">
                                        <input type="text" id="edit-combatant-waiver_date" name="waiver_date"
                                               value="{{ combatant.waiver.waiver_date if combatant else '' }}"
                                                {{ has_role_disabled(None, 'edit_waiver_date') }}
                                                class="form-control" readonly/>
                                    </div>
                                </div>
                                {% if combatant != None %}
                                    <div class="form-group row"></div>
                                    {% if combatant.accepted_privacy_policy %}
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label"></label>
                                        <div class="col-md-5">
                                            <a href="{{ combatant.card_url }}" target="_blank" class="btn btn-primary">
                                                View Card
                                            </a>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                        {% for discipline in disciplines %}
                            {% set card = combatant.get_card(discipline) if combatant else None %}
                            <div id="{{ discipline.slug }}" class="tab-pane discipline-pane fade in">
                                <div class="row top-space-md"></div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">
                                        Card Date&nbsp;
                                        <span title="This is the date the card is being renewed, not two years in the future.&#013;Testing: To get a reminder email tonight, set the date for {{ test_card_reminder }}&#013;Testing: To get an expiry email tonight, set the date for {{ test_card_expiry }}">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </span>
                                    </label>
                                    <div class="col-md-2">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input type="text" id="edit-combatant-card_date_{{ discipline.slug }}"
                                               name="card_date_{{ discipline.slug }}"
                                               value="{{ card.card_date if card else '' }}"
                                                {{ has_role_disabled(discipline.slug, 'edit_card_date') }}
                                                class="form-control card-date" readonly/>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <select class="picklist" multiple="multiple" name="{{ discipline.slug }}" class="form-control">
                                            {% for auth in discipline.authorizations %}
                                                <option class="combatant-auth" value="{{ auth.slug }}"
                                                        data-discipline="{{ discipline.slug }}"
                                                        {{ has_auth(card, auth.slug) }}
                                                        {{ has_role_disabled(discipline.slug, 'edit_authorizations') }}>
                                                    {{ auth.name }}
                                                </option>
                                            {% endfor %}
                                            {% for marshal in discipline.marshals %}
                                                <option class="combatant-warrant" value="{{ marshal.slug }}"
                                                        data-discipline="{{ discipline.slug }}"
                                                        {{ has_warrant(card, marshal.slug) }}
                                                        {{ has_role_disabled(discipline.slug, 'edit_marshal') }}>
                                                    {{ marshal.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <span class="modal-footer-error" id="validation-error-notice">Fix validation errors before saving</span>
                <input type="button" class="btn btn-close" value="Close"/>
                <input type="button" class="btn btn-ealdormere btn-save" value="Save"/>
            </div>
        </div>
    </div>
</div>
<script>
    $(function()
    {
        $(document).ready(function()
        {
            $('#edit-combatant-sca-name').focus();

            {% if has_role(None, 'edit_waiver_date') %}
                $("#edit-combatant-waiver_date").datepicker({format: "yyyy-mm-dd", autoclose: true});
            {% endif %}
            $(".card-date")
                .datepicker({format: "yyyy-mm-dd", autoclose: true})
                    .on('changeDate', function(event)
                    {
                        var url = '/api/combatant/' +
                            $('#uuid').val() + '/card-date';

                        var data = {
                            card_date: $(event.target).val(),
                            discipline: $('.discipline-tab.active').data('discipline')
                        };

                        $.ajax({
                            url: url,
                            method: 'POST',
                            data: JSON.stringify(data),
                            dataType: 'json',
                            contentType: 'application/json; charset=UTF-8',
                            success: function (response, status, xhr) {
                            }
                        });
                    });
        });
    });
</script>