<div class="col-md-6">
    <div class="form-group row">
        <label for="edit-combatant-sca-name" class="col-md-4 col-form-label">SCA Name</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-sca-name" name="sca_name" class="form-control"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   value="{{ combatant.sca_name if combatant else '' }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-legal-name"class="col-md-4 col-form-label">Legal Name</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-legal-name" name="legal_name" class="form-control"
                   value="{{ combatant.decrypted.legal_name if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-email" class="col-md-4 col-form-label">Email</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-email" name="email" class="form-control"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                    {{ 'disabled' if is_self_serve else '' }}
                   value="{{ combatant.email if combatant else '' }}" required/>
            <input type="hidden" id="edit-combatant-original_email"
                   name="original_email"
                   value="{{ combatant.email if combatant else '' }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-phone"class="col-md-4 col-form-label">Phone</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-phone" name="phone" class="form-control"
                   value="{{ combatant.decrypted.phone if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-address1" class="col-md-4 col-form-label">Address 1</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-address1" name="address1" class="form-control"
                   value="{{ combatant.decrypted.address1 if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-address2" class="col-md-4 col-form-label">Address 2</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-address2" name="address2" class="form-control"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   value="{{ combatant.decrypted.address2 if combatant and combatant.decrypted.address2 else '' }}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-city" class="col-md-4 col-form-label">City</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-city" name="city" class="form-control"
                   value="{{ combatant.decrypted.city if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-province" class="col-md-4 col-form-label">Province</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-province" name="province" class="form-control"
                   value="{{ combatant.decrypted.province if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-postal-code" class="col-md-4 col-form-label">Postal Code</label>
        <div class="col-md-8">
            <input type="text" id="edit-combatant-postal-code" name="postal_code" class="form-control"
                   value="{{ combatant.decrypted.postal_code if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-member-number" class="col-md-4 col-form-label">SCA Member</label>
        <div class="col-md-8">
            <input type="number" id="edit-combatant-member-number" name="member_number" class="form-control"
                   value="{{ combatant.decrypted.member_number or '' if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }} />
        </div>
    </div>
    <div class="form-group row">
        <label for="edit-combatant-member-expiry" class="col-md-4 col-form-label">Expiry</label>
        <div class="col-md-5">
            <input type="text" id="edit-combatant-member-expiry" name="member_expiry" class="form-control"
                   value="{{ combatant.decrypted.member_expiry or '' if combatant else '' }}"
                    {{ has_role_disabled(None, 'edit_combatant_info') }}
                   readonly/>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function($)
    {
        "use strict";

        $(document).ready(function()
        {
            $("#edit-combatant-member-expiry").datepicker({format: "yyyy-mm-dd", autoclose: true});
        })
    })(jQuery);
</script>