<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <i class="fa fa-bars fa-2"></i>
          </button>
            <a class="navbar-brand" href="/"><span><img src="/static/images/ealdormere32.png"/>&nbsp;eMoL</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% if current_user is defined and not current_user.is_anonymous %}
                    <li><a href="/" title="Home">
                        <i class="fa fa-home fa-1-5x" aria-hidden="true"></i>
                        <span class="collapsed">Home</span>
                    </a></li>
                    {% if current_user.is_admin %}
                        <li><a href="/user-list" title="Users">
                            <i class="fa fa-user-plus fa-1-5x" aria-hidden="true"></i>
                            <span class="collapsed">User List</span>
                        </a></li>
                    {% endif %}
                    {% if current_user.has_role(None, 'edit_officer_info') %}
                        <li><a href="/officer-list" title="Kingdom Officers">
                            <i class="fa fa-user-circle-o fa-1-5x" aria-hidden="true"></i>
                            <span class="collapsed">Officer List</span>
                        </a></li>
                    {% endif %}
                    {% if current_user.can_see_combatant_list %}
                        <li><a href="/combatant-list" title="Combatants">
                            <span class="icon-crossed-swords"></span>
                            <span class="collapsed">Combatant List</span>
                        </a></li>
                    {% endif %}
                    {% if current_user.has_role('any', 'warrant_roster') %}
                        <li><a href="/warrant-roster" title="Warrant Roster">
                            <i class="fa fa-file-text-o fa-1-5x" aria-hidden="true"></i>
                            <span class="collapsed">Warrant Roster</span>
                        </a></li>
                    {% endif %}
                    {% if current_user.has_role('any', 'can_import') %}
                        <li><a href="/import" title="Import Combatants">
                            <i class="fa fa-upload fa-1-5x" aria-hidden="true"></i>
                            <span class="collapsed">Import Combatants</span>
                        </a></li>
                    {% endif %}
                    <li><a href="#" title="Trigger Mailing" id="trigger-mail">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="collapsed">Trigger Mailing</span>
                    </a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav  navbar-right">
                {% if current_user is not defined or current_user.is_anonymous %}
                    <li><a href="/login">Sign In</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle no-change" data-toggle="dropdown">
                            {{ current_user.email }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout" class="text-menu">Sign Out</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if current_user is defined and not current_user.is_anonymous %}
<script>
    $(document).ready(function()
    {
        $('#trigger-mail').click(function()
        {
            $.ajax({
                method: 'POST',
                url: '/api/cron/mail',
                success: function()
                {
                    alert('mail!');
                }
            })
        });
    });
</script>
{% endif %}