{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 ">
            <h2>Combatant Statistics</h2>
        </div>
    </div>

    {% for result in results %}
        <div class="row">
            <div class="col-md-12">
                <h3>{{ result }}</h3>
            </div>
        </div>
        {% for item in results[result] %}
        <div class="row">
            <div class="col-md-2">
                {{ item['name'] }}
            </div>
            <div class="col-md-1">
                {{ item['count'] }}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
