{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            Enter your email address below and click the Update Info button.
            You will be sent an email with a link to follow to update your information.
        </div>
    </div>
    <form method="POST">
        <div class="row top-space-lg">
            <div class="col-md-4 col-lg-offset-4 content-centered">
                <input id="request-card-email" name="request-card-email" type="email" placeholder="Email address"
                       class="input-round" required/>
                <div id="request-card-message-text" class="error message-text">{{ message }}</div>
            </div>
        </div>
        <div class="row hidden" id="request-card-message">
            <div class="col-md-6 col-lg-offset-4 content-centered">
                <div>
                    <div id="update-info-message-text" class="center-content message-text">123</div>
                </div>
            </div>
        </div>
        <div class="row top-space-lg">
            <div class="col-md-4 col-lg-offset-4 content-centered">
                <input type="submit" id="request-card" class="btn btn-lg btn-lg-width btn-primary"
                       value="Request Update"/>
            </div>
        </div>
    </form>
{% endblock %}
