{% extends "base.html" %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#file').change(function () {
                if ($(this).val().length > 0) {
                    $('#import').prop('disabled', false);
                }
            });

            $('#discipline').change(function () {
                console.info($(this))
                var discipline = $(this).find(':selected').val();
                $('.auth-fields').addClass('hidden');
                $('#fields-' + discipline).removeClass('hidden');
            });

            $('#import').click(function () {
                event.stopPropagation();
                event.preventDefault();

                var data = new FormData($('#import-form')[0]);

                $.ajax({
                    url: '/api/import',
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function () {

                    }
                });
            });
            //$("#discipline").val($("#discipline option:first").val());
            $("#discipline").trigger('change');
        });
    </script>
{% endblock %}

{% block body %}
    <div class="form-group tab-content">
        <div class="form-group row">
            <div class="col-md-12">
                Combatant information must be comma separated values (CSV).
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                Left column is combatant basic info fields, right column is discipline specific fields.
                <b>Bold</b> fields are mandatory.
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <b>Combatant Info</b>
                    </div>
                </div>
                <div class="row top-space-md">
                    <div class="col-md-5"><b>legal_name</b></div>
                    <div class="col-md-7">Legal name</div>
                </div>
                <div class="row">
                    <div class="col-md-5">sca_name</div>
                    <div class="col-md-7">SCA name</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>email</b></div>
                    <div class="col-md-7">Email address</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>phone</b></div>
                    <div class="col-md-7">Phone number</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>address1</b></div>
                    <div class="col-md-7">First address line</div>
                </div>
                <div class="row">
                    <div class="col-md-5">address2</div>
                    <div class="col-md-7">Second address line</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>city</b></div>
                    <div class="col-md-7">City</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>province</b></div>
                    <div class="col-md-7">Province</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>postal_code</b></div>
                    <div class="col-md-7">Postal code</div>
                </div>
                <div class="row">
                    <div class="col-md-5"><b>waiver_date</b></div>
                    <div class="col-md-7">Date on waiver</div>
                </div>
                <div class="row">
                    <div class="col-md-5">dob</div>
                    <div class="col-md-7">Date of birth for minors</div>
                </div>
                <div class="row">
                    <div class="col-md-5">member_number</div>
                    <div class="col-md-7">SCA membership number</div>
                </div>
                <div class="row">
                    <div class="col-md-5">member_expiry</div>
                    <div class="col-md-7">SCA membership expiry</div>
                </div>
                </ul>
            </div>
            {% for discipline in disciplines %}
                <div class="col-md-6 hidden auth-fields" id="fields-{{ discipline.slug }}">
                    <div class="row bottom-space-md">
                        <div class="col-md-12">
                            <b>{{ discipline.name }} Authorizations and Warrants</b>
                        </div>
                    </div>
                    {% for auth in discipline.authorizations %}
                        <div class="row">
                            <div class="col-md-5">{{ auth.slug }}</div>
                            <div class="col-md-6">{{ auth.name }}</div>
                        </div>
                    {% endfor %}
                    {% for marshal in discipline.marshals %}
                        <div class="row">
                            <div class="col-md-5">{{ marshal.slug }}</div>
                            <div class="col-md-6">{{ marshal.name }}</div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-5">card_date</div>
                        <div class="col-md-7">Card expiry date</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                Date format is YYYY-MM-DD, authorizations are listed as "yes" or "no"
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                If member_number and member_expiry are not given, no warrants will be assigned.
            </div>
        </div>
    </div>
    <hr class="separator"/>
    <div class="form-group tab-content">
        <form id="import-form">
            <div class="form-group row">
                <div class="col-md-2">Discipline:</div>
                <div class="col-md-4">
                    <select id="discipline" name="discipline">
                        {% for discipline in disciplines %}
                            <option value="{{ discipline.slug }}">{{ discipline.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">File:</div>
                <div class="col-md-4">
                    <input type="file" name="file" id="file"/>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" id="import" class="btn btn-icon btn-primary glyphicons upload" disabled>
                    <i></i>Import
                </button>
            </div>
        </form>
    </div>
{% endblock %}