{% extends "base.html" %}

{% block head %}
    <script type="text/javascript">
        (function($)
        {
            "use strict";

            $(document).ready(function()
            {
                $('#coronation-date').datepicker({
                    format: "yyyy-mm-dd",
                    autoclose: true
                });

                $('#rex, #regina').on('change', function()
                {
                    var rex = $('#rex').val(),
                            regina = $('#regina').val();

                    console.info(rex, regina);

                    if (is_defined_not_empty(rex) && is_defined_not_empty(regina))
                    {
                        $('#reign-title').val(
                                rex.split(' ')[0] +
                                ' & ' +
                                regina.split(' ')[0]
                        );
                    }
                });

                $('#generate').click(function()
                {
                    var data = {
                        rex: $('#rex').val(),
                        regina: $('#regina').val(),
                        date: $('#coronation-date').val(),
                        reign: $('#reign-title').val(),
                        discipline: $('#discipline').find('option:selected').val()
                    };

                    $.ajax({
                        method: 'POST',
                        url: '/api/warrant-roster',
                        data: JSON.stringify(data),
                        type: 'json',
                        success: function(result)
                        {
                            console.info(result);
                        },
                        error: function(xhr)
                        {
                            console.info(xhr);
                        }
                    })
                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 ">
            <h2>Warrant Roster</h2>
        </div>
    </div>

    <form method="POST" target="_blank">
        <div class="form-group row">
            <label for="rex" class="col-md-3 col-form-label">Rex</label>
            <div class="col-md-4">
                <input type="text" id="rex" name="rex" class="lg-width form-control initial-focus">
            </div>
        </div>
        <div class="form-group row">
            <label for="regina" class="col-md-3 col-form-label">Regina</label>
            <div class="col-md-4">
                <input type="text" id="regina" name="regina" class="lg-width form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="coronation-date" class="col-md-3 col-form-label">Coronation Date</label>
            <div class="col-md-2">
                <input type="text" id="coronation-date" name="coronation-date" class="form-control" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="reign-title" class="col-md-3 col-form-label">Reign</label>
            <div class="col-md-4">
                <input type="text" id="reign-title" name="reign-title" class="lg-width form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="discipline" class="col-md-3 col-form-label">Discipline</label>
            <div class="col-md-4">
                <select id="discipline" name="discipline" class="form-control">
                    {% for discipline in disciplines %}
                        <option value="{{ discipline.slug }}">{{ discipline.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="generate">Generate</button>
            </div>
        </div>
    </form>
{% endblock %}
